
  img {
    max-width: 80% ;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }


  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }

  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }


  .photo {
    float: right;
    width: 24%;
    margin-top:20px;
    max-height: 100px;
    min-height: 100px;
    

  }

  .intro {
    width: 70%;
    float: left;
    max-height: 100px;
    min-height: 100px;

  }

  .poi {
    margin-top:90px;
    margin-bottom:150px;
    max-height: 100px;
    min-height: 100px;
  }

  